<appSettings>
  <add key="AuthType" value="Google" />  <!--Google/Ptc-->
  <add key="PtcUsername" value="user" />  <!--Username-->
  <add key="PtcPassword" value="passwd" />  <!--Password-->
  <add key="DefaultLatitude" value="45.030152" />  
  <add key="DefaultLongitude" value="-93.31931" />  
  <add key="LevelOutput" value="time" />  <!--2 Modes: "time": Every XXX seconds and "levelup" every levelup-->
  <add key="LevelTimeInterval" value="60" />  <!--Pick 1 if levelup and time in seconds if "time"-->
  <add key="RecycleItemsInterval" value="60" />  <!--Recycle Time in seconds-->
  <add key="Language" value="en_us" />  <!--Language file en_us/zh_cn-->
  <add key="TransferType" value="leaveStrongest" />  <!--none/cp/leaveStrongest/duplicate/all Whitelists/blackslists for each type is in Program.cs-->
  <add key="TransferCPThreshold" value="0" />  <!--transfer pokemon with CP less than this value if cp transfer type is selected. Whitelist in Program.cs-->
  <add key="EvolveAllGivenPokemons" value="true" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>
