<appSettings>
  <add key="AuthType" value="Ptc" />  <!--Google/Ptc-->
  <add key="PtcUsername" value="username" />  <!--Username-->
  <add key="PtcPassword" value="pw" />  <!--Password-->
  <add key="GoogleRefreshToken" value="" />
  <add key="DefaultLatitude" value="-36.842887" />  <!--Default Viaduct Harbour, Auckland, New Zealand-->
  <add key="DefaultLongitude" value="174.766365" />  <!--Default Viaduct Harbour, Auckland, New Zealand-->
  <add key="LevelOutput" value="levelup" />  <!--2 Modes: "time": Every XXX seconds and "levelup" every levelup-->
  <add key="LevelTimeInterval" value="1" />  <!--Pick 1 if levelup and time in seconds if "time"-->
  <add key="RecycleItemsInterval" value="60" />  <!--Recycle Time in seconds-->
  <add key="Language" value="english" />  <!--Languages english/german-->
  <add key="TransferType" value="duplicate" />  <!--none/cp/leaveStrongest/duplicate/all Whitelists/blackslists for each type is in Program.cs-->
  <add key="TransferCPThreshold" value="0" />  <!--transfer pokemon with CP less than this value if cp transfer type is selected. Whitelist in Program.cs-->
  <add key="EvolveAllGivenPokemons" value="false" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>
